<html>
<head>
    <title>Video Homography</title>
</head>
<body>
<h1>Video Homography</h1>
<form id="image_form">
    <p>
    Upload Image:
    <input id="upload_img_button" type="file" class="btn btn-default btn-xs" name="image_file">
    <input id="submit_img_button" type="submit" class="btn btn-success" value="Upload">
</p>
</form>
<form id="video_form">
    <p>
        Upload Video:
        <input id="upload_video_button" type="file" class="btn btn-default btn-xs" name="video_file">
        <input id="submit_video_button" type="submit" class="btn btn-success" value="Upload">
    </p>
</form>
<p>
    <input id="start_button" type="submit" name="submit" value="Start">
</p>
<!--<img id="bg" src="{{ url_for('video_feed') }}">-->
<img id="bg" >

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    $(document).ready(function () {
        $("#start_button").click(function () {
            $("#bg").attr("src", "/video_feed");
        });

        $('#image_form').on('submit', function (e) {
            e.preventDefault();
            if (e.target.elements.image_file.files.length > 0) {
                var data = new FormData();
                data.append('type', 'image');
                data.append('file', e.target.elements.image_file.files[0]);
                axios.post('/upload_file', data)
                        .then(function (res) {
                            console.log(res);
                        });
            }
        });

        $('#video_form').on('submit', function (e) {
            e.preventDefault();
            if (e.target.elements.video_file.files.length > 0) {
                var data = new FormData();
                data.append('type', 'video');
                data.append('file', e.target.elements.video_file.files[0]);
                axios.post('/upload_file', data)
                        .then(function (res) {
                            console.log(res);
                        });
            }
        })
    });
</script>
</body>
</html>
